<div class="field{% if field.field.widget.input_type == 'hidden' %} is-hidden{% endif %}">
  {% if field.field.widget.input_type != "checkbox" %}
    <label class="label" for="{{ field.id_for_label }}">
      {{ field.label }}{% if field.field.required %}<span class="required-mark"> *</span>{% endif %}
    </label>
  {% endif %}
  {{ field }}
  {% if field.help_text %}<div class="help">{{ field.help_text|safe }}</div>{% endif %}
  {% for e in field.errors %}<div class="field-error">{{ e }}</div>{% endfor %}
</div>
